* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:
    linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 5)),
    url("https://cdn.pixabay.com/photo/2015/08/01/13/47/football-870283_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Bungee", sans-serif;
  color: white;
}

.scoreboard-container {
  max-width: 1150px;
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  column-gap: 9rem;
  background-color: black;
  border: white solid 2px;
  border-radius: 8px;
  height: 450px;
}

.team-home,
.team-away {
  font-size: 40px;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.home-score,
.away-score {
  font-size: 60px;
  text-align: center;
  border: solid white 2px;
  border-radius: 8px;
  width: 110px;
  height: 100px;
  margin: 0 auto;
  padding-top: 0.9rem;
}

.touchdown-extra {
  display: flex;
  column-gap: 1rem;
  margin-top: 2rem;
}

.fg {
  width: 100px;
  margin: 1rem auto;
  display: block;
}

.btn {
  background-color: #ff6c37;
  padding: 9px 13px;
  border-radius: 7px;
  border: white solid 2px;
  color: white;
  cursor: pointer;
}
